.camera {
  height: 315px;
  background-color: #161616;
  margin-bottom: 48px;

  .container {
    margin-top: 0;
    padding-top: 15px;
  }

  &__img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
