.categories {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    text-align: center;
    max-width: 75px;
    border: 1px solid transparent;

  &:active {
    border: 1px solid #FC7813;
  }
  }

  &__img {

  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FC7813;

  }

  &__link {
    text-decoration: none;
  }
}
