.categories {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__img {

  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FC7813;
  }
}
