.reg-1 {

  &__input {

    &--phone {
      margin-bottom: 12px;
    }

    &--code {
      margin-bottom: 12px;
    }

    &--partner {
      display: none;
      width: 23px;
      height: 23px;
      border-radius: 4px;
      &:active {
        background: #000;
      }
    }
  }

  &__label {

    &--partner {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .label__text {
        margin-bottom: 0;
        margin-left: 9px;
      }
    }
  }
}
