.change-password-page {

  &__inputs {
    margin-top: 135px;
  }

  &__input {
    font-size: 12px;
    font-weight: 400;
    color: #C7C7C7;
    border: 1px solid #F4F4F4;
    width: 293px;
    height: 42px;
    border-radius: 25px;
    padding-left: 22px;
    width: 100%;

    &::placeholder {
      color: #C7C7C7;
    }

    &--old {
      margin-bottom: 13px;
    }

    &--new {
      margin-bottom: 0px;
    }

    &--confirm {
      margin-bottom: 0;
    }
  }

  &__error {
    font-size: 13px;
    font-weight: 600;
    color: #FF2E2E;
    margin-top: 10px;
    margin-bottom: 17px;
    padding-left: 31px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
    }


    &--new {
      &::before {
        content: url("../img/icons/lock.svg");
        width: 20px;
        height: 23px;
        top: -6px;
      }
    }

    &--confirm {
      &::before {
        content: url("../img/icons/error.svg");
        width: 18px;
        height: 18px;
        top: -2px;
      }
    }
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .button--go {
      width: 137px;

      &::after {
        top: 10px;
        right: 18px;
      }
    }

    .button--back {
      &:before {
        top: 11px;
      }
    }
  }
}
