.enter-page {

  .offer {
    position: relative;
    width: 300px;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;


    &::before {
      content: url("../img/icons/shield.svg");
      position: absolute;
      top: -15px;
      left: 27.22px;
      width: 39.22px;
      height: 45px;
    }
  }

  .button--go {
    margin-top: 23px;
    margin-left: calc(50% - 63.5px);
  }
}
