.home-page {

  &__title {
    margin-top: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  &__form {

  }

  &__select {

  }

  &__input {

  }

  .footer {

    &__link {

    }
  }
}
