.payment-page {

  .offer {
    margin-top: 75px;
    margin-bottom: 0px;
  }

  &__number {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 39px;
    text-align: center;
    color: #7B7B7B;
  }

  &__form {

  }


  .switch-btn {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 30px; /* ширина переключателя */
    height: 18px; /* высота переключателя */
    margin: 0;
    padding: 0;
    background: #bfbfbf; /* цвет фона */
    border: none;
    border-radius: 12px; /* радиус скругления */
    cursor: pointer;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    position: absolute;
    top: -1px; /* положение кнопки по вертикали относительно основы */
    right: 12px; /* положение кнопки по горизонтали относительно основы */
    z-index: 1;
    width: 21px; /* ширина кнопки */
    height: 20px; /* высота кнопки */
    background: #fff; /* цвет кнопки */
    border: 1px soild #CCCCCC;
    border-radius: 18px; /* радиус кнопки */
    transition-duration: 300ms; /* анимация */
}
.switch-on {
    background: #B6FFB8;
}
.switch-on::after {
    right: 0px;
    background: #18BE1E;
}

  .slider__title {
    margin: 0;
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #A5A5A5;
  }

  .slide__text {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 14px;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
  }

  &__slider-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }

    /* Слайдер */
  .slick-slider {
    position: relative;
    width: 181px;

    button {
      width: 9px;
      height: 9px;
      padding: 0;
      font-size: 0;
      background-color: #E2DEDE;
      border: none;
      border-radius: 100%;
    }
  }
  /* Слайдер запущен */
  .slick-slider.slick-initialized{}

  /* Слайдер с точками */
  .slick-slider.slick-dotted{}

  /* Ограничивающая оболочка */
  .slick-list {}

  /* Лента слайдов */
  .slick-track{}

  /* Слайд */
  .slick-slide {
    width: 181px;
    height: 54px;
    background: url("../img/bg/bitmap.png");
    background-color: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
    background-size: cover;
  }

  /* Слайд активный (показывается) */
  .slick-slide.slick-active{}

  /* Слайд основной */
  .slick-slide.slick-current{}

  /* Слайд по центру */
  .slick-slide.slick-center{}

  /* Клонированный слайд */
  .slick-slide.slick-cloned{}


  .slick-dots{
    display: flex;
    justify-content: space-between;
    width: 57px;
    height: 9px;
    padding-left: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .slick-dots li{
  }

  /* Активная точка */
  .slick-dots li.slick-active button {
    background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
  }

  /* Элемент точки */
  .slick-dots li button{

  }

  &__buttons {
    text-align: center;
    margin-top: 35px;
  }

  .button {

    &--green {
      margin-bottom: 22px;
    }

    &--back {
      background-color: transparent;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 266px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    &__link {
      text-decoration: none;
    }
  }
}
