.registration-1-page {

  &__inputs {
    margin-left: 21px;
    margin-right: 21px;
  }

  &__buttons {
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;

    .button--back {
    }

    .button--go {
    }
  }
}
