.registration-1-page {

  &__inputs {
    margin-right: 21px;
    margin-left: 21px;

    @media(min-width: 425px) {
      max-width: 425px;
      margin-left: calc(50% - 212.5px);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;

    .button--back {
    }

    .button--go {
    }
  }
}
